/* -------- Global CSS Start -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.justify-center{
    justify-content: space-between;
}
.justify-content{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.w-full{
    width: 100%;
}
.w-10{
  width: 10%;
}

.w-20{
    width: 20%;
}

.w-30{
    width: 30%;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
    width: 70%;
}

.w-80{
    width:80%;
}

.w-90{
    width: 90%;
}
:root{
    --themecolor:#4581FB;
    --textcolor:#2C3D5F;
    --lightgraycolor: rgb(44 61 95 / 50%);
}

/* globle css end*/

body{
    background:#F4F8F9;
}
/* Logo */
header .logo {
    padding: 10px;
    width: 84px;
    height: auto;
}

.header > .wrapper{
    padding: 20px;
}

/* Navigation */
.main-header nav ul {
  gap: 20px;
}
.main-header nav ul li{
  list-style: none;
}
.main-header nav ul li a{
  text-decoration: none;
  color: var(--textcolor);
}
.main-header nav ul li a.active{
  color:var(--themecolor);
  position: relative;
}
.main-header nav ul li a.active::after{
  content: "";
  position: absolute;
  left: -8px;
  bottom: -3px;                
  width: 10px;                 
  height: 10px;                
  background: url(../image/active-link.svg) no-repeat;
}

/* Icons */
header .icons {
  gap: 15px;
  cursor: pointer;
}
 /*section*/
.banner .hero {
    padding: 50px 10px;
    min-height: 100vh;
    box-sizing: border-box;
}

.banner .hero-content {
    max-width: 40%;
}

.banner .hero .hero-content .heading {
    font-size: 75px;
    line-height: 1.2;
    margin: 0 0 20px;
    font-weight: 600;
    color: var(--textcolor);
}

.hero-content h1 span {
    color: var(--themecolor); /* Blue */
}

.para {
    font-weight: 400;
    color: var(--textcolor);
    font-size: 16px;
    margin-bottom: 30px;
}

.btn-now{
    display: inline-block;
    background:var(--themecolor);
    color: #fff;
    font-weight: 500;
    padding: 14px 30px;
    border-radius: 15px;
    text-decoration: none;
}

.btn:hover {
    background:var(--themecolor);
}

.banner {
    position: relative;
    overflow: hidden;
}

.hero-image {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

    /* Slider dots */
.slider-dots {
    margin-top: 40px;
    gap: 8px;
}

.slider-dots span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #d1d5db;
}

.slider-dots span.active {
    background: var(--themecolor);
    width: 30px;
    height: 12px;
    border-radius: 8px;
}

    /*grid-work*/
.categories {
  padding: 60px 0;
}

.grid {
  display: grid;
  grid-template-areas:
    "sale women men accessories"
    "new  women shoes shoes";
  grid-template-columns: 305px 305px 305px 305px;
  grid-template-rows: 305px 305px;
  gap: 20px;
  justify-content: center;
}

/* Card common style */
.card {
  position: relative;
  overflow: hidden;
}

.card img {
  width: 100%;
  object-fit: cover;
  display: block;
}

.card figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  width: 160px;
  height: 57px;
  font-weight: 600;
  font-size: 18px;
  color: var(--textcolor);
  border-radius: 8px;
  text-align: center;
  opacity: 90%;
}

/* Exact sizes */
.sale { 
    grid-area: sale; 
    width: 305px; 
}

.new { 
    grid-area: new; 
    width: 305px; 
}
.women { 
    grid-area: women; 
    width: 305px; 
}
.men { 
    grid-area: men; 
    width: 305px; 
}
.accessories { 
    grid-area: accessories; 
    width: 305px; 
}
.shoes { 
    grid-area: shoes; 
    width: 630px; 
}
/*best seller*/
.best-seller{
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
    margin-top: 40px;
    padding: 100px 60px 20px 60px;
}

.heading-area{
    text-align: center;
    margin-bottom: 40px;
}
    /* Heading */
.heading-area h2 {
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 10px;
}

.heading-area h2 span {
    color: var(--themecolor);
}

.heading-area p {
    font-size: 24px;
    color: var(--textcolor);
    margin-bottom: 40px;
}

  /* Products flexbox */
.products {
    flex-wrap: wrap; 
    gap: 20px;
}
.best-products{
  background-color: #fff;
  box-shadow: 0 0 1.5px rgba(0,0,0,0.05); 
  margin-top: 20px;
  padding: 50px 0;
}

.product {
    width: 23%; 
    margin-bottom: 40px;
    text-align: center;
}
.product img.main-img {
    width: 100%;
    object-fit: cover;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.prd-img-wrap{
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}
.prd-img-wrap:hover .options{
  opacity: 1;
  width: 100%;
}

.options{
    position: absolute;
    inset: 0;
    right: -900px;
    background: rgba(0, 0, 0, 0.6);
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    padding: 20px;
    opacity: 0;
    transition: 0.3s ease all;
}
.options .searchs{
    background: transparent;
    border: none;
    margin-right: 9px;
}
.options .search{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--themecolor);
    border: 2px solid #fff;
}
.options .cart{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--themecolor);
    border: 2px solid #fff;
}

.prd-img{
    width: 100%;
}
.product img.stars {
    width: 107px;
    margin: 10px auto;
    display: block;
}

.product p {
    font-size: 14px;
    color: var(--textcolor);
    margin: 8px 0;
}

.product img.main-img{
    width: 100%;
    object-fit: cover;
    border: none;
    border-radius: 4px;
}
.product h3 {
    font-size: 18px;
    font-weight: bold;
    color: var(--themecolor);
    margin-top: 5px;
}
.filter-bar{
  margin-bottom: 25px;
  font-size: 16px;
  color: var(--textcolor);
  outline: none;
}
/* select box design */
.filter-left select {
  padding: 6px 12px;
  border: none;        
  outline: none;        
  font-size: 14px;
  cursor: pointer;
}

 /* ---------- First Section (3 Images Row) ---------- */
.image-row {
    margin-top: 60px;
    margin-bottom: 60px;
}

.image-box {
    width: 413px;
    position: relative;
    overflow: hidden;
}

.image-box img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.image-box span {
    position: absolute;
    background: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 500;
    opacity: 90%;
}
/* Blog Section */
.blog-header {
    margin-bottom: 40px;
    padding-top: 15px;
    text-align: center;
}

.blog-header h2 {
    font-size: 32px;
    margin: 0;
    font-weight: bold;
}

.blog-header h2 span {
    color:  var(--themecolor)
}

.blog-header p {
    margin-top: 8px;
    color: var(--textcolor);
    font-size: 16px;
}

.blog-cards{
    width: 413px; 
    flex-direction: column;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    border: none;
    padding: 10px;
    
}

.Latest-Blog img{
    padding-top: 20px;
    padding-left: 19px;
}

.blog-contents{
    padding: 16px;
    flex-direction: column;
    gap: 10px;
}

.blog-contents h3 {
    font-weight: 500;
}

.line {
    width: 34px;
    height: 2px;
    background:  var(--themecolor);
    border-radius: 2px;
}

.blog-contents p {
    font-size: 14px;
    color: var(--textcolor);
    line-height: 1.5;
    margin-bottom:16px;
}
.icon img{
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.read-btn {
    background: var(--themecolor);
    color: #fff;
    border: none;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}
/* number*/
.numbers{
  gap: 20px;
  padding: 30px 0;
}

.page{
  padding: 8px 14px;
  border-radius: 50%;
  cursor: pointer;
  width: 35px;
  color: var(--textcolor);
}

.page-active{
  background-color: var(--themecolor);
  color: white;
  width: 34px;
  height: 34px;
  border-radius: 50px;
}
.arrows{
    padding: 8px 14px;
    border-radius: 50%;
    cursor: pointer;
}

/* Product Section */

.page-bg {

    background: #fff;
    padding: 60px 20px 60px 20px;
    position: relative;
    overflow: visible;
    margin-top: 40px;
}
.product-section{
  display: flex;
  gap: 20px;
}

.product-thumbs img {
  width:118px; 
  height:138px;
  display: block;
  margin-bottom: 17.5px;
 
}
.product-image {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.product-image img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.product-icons{
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-icons .search{
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #fff;
  border: none;
}
.product-icons .search img{
  width: 18px;
  height: 18px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  padding: 0;
}

/* ===== Left arrow button ===== */
.arrow.left {
  left: 10px;
  background: #fff;  
}
.arrow.right {
  right: 10px;
  background: var(--themecolor);  
}

.arrow img {
  width: 18px;  
  height: auto;
}
/* Product Info */
.product-info {
  padding: 5px 20px;
  margin-left: 10px;
}
.info-line{
  font-size: 16px;
  color: var(--textcolor);
  margin: 6px 0;
  padding-bottom: 5px;
}
.info-line .gray{
    color: var(--lightgraycolor);
    padding-bottom: 10px;
    margin-left: 60px;
    padding-bottom: 5px;

}
.info-line .gray2{
    margin-left: 8px;
    color: var(--lightgraycolor);
    padding-bottom: 10px;
    padding-bottom: 5px;

}
.info-line .gray3{
    margin-left: 39px;
    color: var(--lightgraycolor);
    padding-bottom: 10px;
    padding-bottom: 5px;
}
.product-info h1{
  font-size: 30px;
  font-weight: 500;
  color: var(--textcolor);
  padding-bottom: 8px;
}
.product-info .price{
  font-size: 30px;
  color: var(--themecolor);
  font-weight: 600;
  padding-bottom: 7px;
}
.product-info .tax{
  font-weight: 400;
  color: var(--lightgraycolor);
  padding-bottom: 17px;
}
.rating img{
  margin-right: 10px;
  padding-bottom: 15px;
}
.reviews{
  color: var(--themecolor);
  margin-left: 10px;
  text-decoration: none;
  padding-bottom: 15px;
}
.colors{
    margin-bottom: 14px;
}
.colors .info-line{
    margin-right: 50px;
}
.color-options {
  display: flex;       
  gap: 10px;
  align-items: center;
  overflow: visible;   
}
.color-box {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: inline-block;
  position: relative; 
  box-sizing: border-box;
}
.color-box.selected::after{
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(24px + 8px);  
  height: calc(24px + 8px);
  border-radius: 50%;
  border: 2px solid var(--themecolor); 
  pointer-events: none;
  box-sizing: border-box;
}  
/* ===== color ===== */
.circle1{
    background: linear-gradient(#1F1D22 ,#4C4B4E);
}
.circle2{
    background: linear-gradient(#5287A1, #2A6481);
}
.circle3{

    background: linear-gradient(#3C3F5B, #434878);
}
.circle4{
    background: linear-gradient(#F64C4B,#D42C2B );
}

.cart-actions{
  margin: 20px 0;
  gap: 20px;
}
.quantity{
  width: 160px;
  padding: 15px;
  border-radius: 12px;
  background: #ECF0F3;
  font-size: 16px;
  font-weight: 500;

}
.btn {
  height: 52px;
  padding: 0 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
}
.btn.add {
  background: #164AB4;
  border-radius: 10px;
  color: #fff;
  width: 376px;
}
.btn.buy {
  width: 557px;
  background: var(--themecolor);
  color: #fff;
  margin-top: 15px;
}
.agree {
  margin: 15px 0;
  gap: 10px;
  color: var(--textcolor);
}
/* ==== Description ==== */
.description h2 {
  font-weight: 600;
  margin-bottom: 15px;
  color: var(--textcolor);
}

.description p {
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 40px;
  color: gray;
}
.description p.margin{
  margin-bottom: 0;
}

/* ==== Reviews ==== */
.reviews .flex {
  margin-bottom: 20px;
}

.reviews h2 {
  font-weight: 600;
  color: var(--textcolor);
}

.write-review {
  font-size: 14px;
  color: var(--themecolor);
  text-decoration: none;
}
.review-item {
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.review-item h4 {
  font-weight: 500;
  color: var(--textcolor);
  margin-bottom: 5px;
  margin-left: 10px;
}
.review-item img.color {
  width: 100px; 
  display: block;
  margin-left: 10px;
}
.review-item p {
  line-height: 1.6;
  font-size: 14px;
  margin-top: 10px;
  color: gray;
}
.review-item:last-child {
  border-bottom: none;
}
.review-time {
  font-size: 13px;
  color: var(--lightgraycolor);
  margin-left: auto; 
}
.desc-reviews {
  max-width: 1280px;
  margin: 40px auto;
  padding: 20px;
  border-top: 1px solid #ddd; 
  border-bottom: 1px solid #ddd;
  gap: 40px; 
}
/* Related */
.related .arrows {
  gap: 20px;   /* ab dono arrows ke beech gap aayega */
}
.related .arrows img {
  cursor: pointer;
}
.related h2 {
  font-weight: 600;
  font-size: 24px;
  color: var(--textcolor);
  margin-bottom: 20px;
}
.price {
    font-size: 18px;
    font-weight: bold;
    color: var(--themecolor);
    margin-top: 5px;
}





/*footer*/

.arrow{
    padding: 8px 14px;
    border-radius: 50%;
    cursor: pointer;
} 
.footer {
    background: #fff;
    padding: 100px 60px 20px 60px;
    position: relative;
    overflow: visible;
    margin-top: 40px;
}

.footer .arrow-wrapper {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

 /* Arrow Circle */
.footer .up-arrow {
    display: inline-flex;
    background: var(--themecolor);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    cursor: pointer;
}

.footer-content {
    gap: 20px;
}

.footer-column {
    line-height: 1.8;
}

.footer-column h3 {
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--textcolor) ;
}

.footer-column .line {
    width: 50px;
    height: 3px;
    background:  var(--themecolor);
    border-radius: 2px;
}

.footer-column p {
    font-size: 16px;
    color: var(--textcolor);
    margin-top: 10px;
}

.footer-column ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--textcolor);
}

.footer-column ul li a{
    font-size: 14px;
    text-decoration: none;
    color: var(--textcolor);
}

 /* Contact Column */
.contact-item {
    margin: 8px 0;
    font-size: 14px;
    color: var(--textcolor);
}

.contact-item span img{
    margin-right: 10px;
    font-size: 16px;
    color: var(--themecolor);
}

    /* Social Icons */
.social {
    margin-top: 15px;
    gap: 25px;
}

.social span img {
    width: 32px;
}
.footer-column .line {
    width: 50px;
    height: 3px;
    background:  var(--themecolor);
    border-radius: 2px;
    margin-bottom: 10px;
}

    
    /* Bottom Bar */
.footer-bottom {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    padding-top: 15px;
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--textcolor);
}

.footer-bottom .logo {
    gap: 10px;
}

.footer-bottom img {
    height: 25px;
    margin-left: 10px;
}
